.contents
  .side-contents
    .side-contents__top
      .side-contents__top__name
      %p ユーザーネーム
      %p
        %a{href: ''}
          %i.fa.fa-pencil-square-o
      %p
        %a{href: '/users/1/edit/'}
          %i.fa.fa-cog
    .side-contents__bottom
      - if user_signed_in?
      = render partial: "groups/index", locals: { groups: @groups }

  .front-contents
    .front-contents__top
      .front-contents__top__left
        .front-contents__top__left__group
          %p グループネーム
        .front-contents__top__left__name
          %p Member: ユーザーネーム
      .front-contents__top__right
        %a{href: '/groups/1/edit'}
          %p Edit
    .front-contents__center
      .front-contents__center__user
        .front-contents__center__user__name
          %h3 ユーザーネーム
          %p 2017/10/7 12:55:34
        .front-cntents__center__user__message
          %p メッセージはありません
      .front-contents__center__user
        .front-contents__center__user__name
          %h3 ユーザーネーム
          %p 2017/10/7 12:55:34
        .front-cntents__center__user__message
          %p メッセージはありません

    .front-contents__footer
      .front-contents__footer__form
      = form_for [@group,@message] do |f|
        .front-contents__footer__form__comment
        = f.text_field :body, placeholder: 'type a message', type: 'text'}
        .front-contents__footer__form__send
        = f.submit 'Send'
        %i.fa.fa-picture-o{'aria-hidden': 'true'}
        = f.file_field :image
